@model cooperz_assign01.Models.CustomerModel

    <div class="col-md-8 myContent">
        <h2>@ViewBag.title</h2>
        @using (Html.BeginForm())
        {
    <div class="form-horizontal">
        <h4>@ViewBag.message</h4>
        <hr />
        <!--- Encrypted CustID is an ehnancement -->
        <input id="CustIde" name="CustIde" type="hidden" value="" />

        <div class="form-group">
            <label class="control-label col-md-2" for="Email">Email</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-email="Invalid email" data-val-required="The Email field is required." id="Email" name="Email" type="email" value="@Model.Email" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="FName">First Name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="The First Name field is required." id="FName" name="FName" type="text" value="@Model.Fname" />
                <span class="field-validation-valid text-danger" data-valmsg-for="FName" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="LName">Last Name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="The Last Name field is required." id="LName" name="LName" type="text" value="@Model.Lname" />
                <span class="field-validation-valid text-danger" data-valmsg-for="LName" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Street">Street</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="The Street field is required." id="Street" name="Street" type="text" value="@Model.Street" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Street" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="City">City</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-regex="Invalid city" data-val-regex-pattern="^[a-zA-Z]{2,15}$" data-val-required="The City field is required." id="City" name="City" type="text" value="@Model.City" />
                <span class="field-validation-valid text-danger" data-valmsg-for="City" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="State">State</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-regex="Invalid state abbreviation" data-val-regex-pattern="^[a-zA-Z]{2}$" data-val-required="The State field is required." id="State" name="State" type="text" value="@Model.State" />
                <span class="field-validation-valid text-danger" data-valmsg-for="State" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Zipcode">Zipcode</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-regex="Invalid zipcode" data-val-regex-pattern="^\d{5}$" data-val-required="The Zipcode field is required." id="Zipcode" name="Zipcode" type="text" value="@Model.Zipcode" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Zipcode" data-valmsg-replace="true"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Checkout" class="btn btn-default" />
            </div>
        </div>
    </div>
        }
    </div>
